$mobile-width: 375px;
$desktop-width: 1440px;

$dark-violet: hsl(256, 26%, 20%);
$gray-blue: hsl(216, 30%, 68%);

$darker-violet: hsl(270, 9%, 17%);
$dark-gray: hsl(273, 4%, 51%);
$light-gray: hsl(0, 0%, 98%);