$mobile-width: 23.4375em; //375px
$laptop-width: 64em; //1024px 63.9375em
$desktop-width: 90em; //1440px 89.9375em

$dark-violet: hsl(256, 26%, 20%);
$gray-blue: hsl(216, 30%, 68%);

$darker-violet: hsl(270, 9%, 17%);
$dark-gray: hsl(273, 4%, 51%);
$light-gray: hsl(0, 0%, 98%);
